<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	  <customErrors mode="Off"/>
  </system.web>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=103.120.176.21;Initial Catalog=digit196_gulmuhar;Integrated Security=false;User Id=digit196_gulmuhar;Password=cZ7q7y23~;connect timeout=0;Max Pool Size=40000" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>